.wrapper {
  background: #2c2e31;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  height: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  padding: 0 20px;

  .nav {
    &__link {
      margin-right: 15px;
      text-decoration: none;
      color: inherit;
      transition: color 0.3s;
      font-size: 25px;
      cursor: pointer;

      &:hover {
        color: #d1d0c5;
      }
    }
    &__link_active {
      color: #ffaa00;
    }
  }

  .btn {
    background: #646669;
    width: 40px;
    height: 25px;
    margin: 5px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background: #d1d0c5;
    }
  }
  .btn_active {
    background: #ffaa00;
  }
}
