@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  background: #323437;
  max-width: 1100px;
  margin: 0 auto;
  color: #646669;
  padding: 0 10px;
}
